{{define "modern_dashboard"}}
{{ template "header" . }}
{{ template "nav" . }}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        <i class="fa fa-chart-line"></i> Analytics Dashboard
    </h1>
    
    {{if .Dashboard}}
    <!-- Stats Row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3"><i class="fa fa-bullhorn fa-3x"></i></div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{.Dashboard.TotalCampaigns}}</div>
                            <div>Campaigns</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3"><i class="fa fa-envelope fa-3x"></i></div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{.Dashboard.TotalEmailsSent}}</div>
                            <div>Emails Sent</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3"><i class="fa fa-mouse-pointer fa-3x"></i></div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{.Dashboard.TotalClicks}}</div>
                            <div>Clicks</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3"><i class="fa fa-flag fa-3x"></i></div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{.Dashboard.TotalReports}}</div>
                            <div>Reports</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Rates -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h2>{{printf "%.1f" .Dashboard.GlobalClickRate}}%</h2>
                    <p>Click Rate</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h2>{{printf "%.1f" .Dashboard.GlobalOpenRate}}%</h2>
                    <p>Open Rate</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h2>{{printf "%.1f" .Dashboard.GlobalReportRate}}%</h2>
                    <p>Report Rate</p>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning">
        <p>No analytics data available.</p>
    </div>
    {{end}}
    
    <p class="text-muted">Logged in as: <strong>{{.User.Username}}</strong></p>
</div>

{{define "scripts"}}
<script src="/js/dist/vendor.min.js"></script>
<script src="/js/dist/app/gophish.min.js"></script>
{{end}}

{{ template "footer" . }}
{{ end }}
